<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>办公室修改公文页面</title>
</head>
<body>

<div>
    <form th:action="@{/office/updateUnsignedDocument}">
        <p>公文id:
            <input type="text" th:value="${document.id}" disabled>
            <input type="hidden" th:value="${document.id}" name="id">
        </p>
        <p>原公文标题:
            <textarea th:text="${document.title}" disabled></textarea>
        </p>
        <p>新公文标题:
            <textarea name="title" maxlength="30"></textarea>
        </p>
        <p>原公文正文:
            <textarea th:text="${document.text}" disabled></textarea>
        </p>
        <p>新公文正文:
            <textarea type="text" name="text" maxlength="1000"></textarea>
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
</div>

</body>
</html>