<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.Cra2iTeT.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="com.Cra2iTeT.dao.BookMapper"/>
    </mappers>

</configuration>