<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拟制公文页</title>
</head>
<body>

<div>
    <p>
        <input type="button" onclick="javascript:history.back(-1);" value="返回上一页">
    </p>
</div>

<div>
    <form th:action="@{/document/addDocument}" method="post">
        <p>公文标题:
            <textarea type="text" name="title" maxlength="30"></textarea>
        </p>
        <p>公文正文:
            <textarea type="text" name="text" maxlength="1000"></textarea>
        </p>
        <p>
            <input type="submit" value="提交">
            <input type="reset" value="重置">
        </p>
    </form>
</div>

</body>
</html>