<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看所有用户结果页</title>
</head>
<body>

<div>
    <p>
        <input type="button" onclick="javascript:history.back(-1);" value="返回上一页">
    </p>
</div>

<div>
    <table border="1" id="tab">
        <tr>
            <th>职工id</th>
            <th>职工密码</th>
            <th>职工姓名</th>
            <th>职工部门</th>
            <th>职工职位</th>
            <th>职工状态</th>
            <th>功能1</th>
            <th>功能2</th>
            <th>功能3</th>
        </tr>
        <tr th:each="employee:${employeeList}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.password}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.departName}"></td>
            <td th:text="${employee.position}"></td>
            <td th:text="${employee.state}"></td>
            <td>
                <form th:action="@{/root/employeeManage/pauseEmployeeById}" method="post">
                    <input type="hidden" th:value="${employee.id}" name="id">
                    <input type="submit" value="暂停用户">
                </form>
            </td>
            <td>
                <form th:action="@{/root/employeeManage/toUpdateEmployeeByIdPage}" method="post">
                    <input type="hidden" th:value="${employee.id}" name="id">
                    <input type="submit" value="编辑用户">
                </form>
            </td>
            <td>
                <form th:action="@{/root/employeeManage/deleteEmployeeById}" method="post">
                    <input type="hidden" th:value="${employee.id}" name="id">
                    <input type="submit" value="删除用户">
                </form>
            </td>
        </tr>
    </table>
    <p style="color: red" th:text="${msg}"></p>
</div>

</body>
</html>