<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销售部门首页</title>
</head>
<body>
<div>
    <p>[[${session.userName}]]</p>
</div>

<div>
    <p style="color: red" th:text="${msg}"></p>
    <form th:action="@{/sale/toAddDocumentPage}" method="post">
        <input type="submit" value="公文拟制">
    </form>
    <br>
    <form th:action="@{/sale/queryUnsignedDocument}" method="post">
        <input type="submit" value="查询未签审公文">
    </form>
    <br>
    <form th:action="@{/sale/querySignedDocument}" method="post">
        <input type="submit" value="浏览已签审公文">
    </form>
</div>

</body>
</html>